// place your custom styles here

.how_qb {
    background: var(--info-bg-color); // rgba(243, 247, 249, 0.5);
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;

    iframe {
        width: 90%;
        margin: auto;
        padding: 10px;
    }

    h3, h2, h1 {
        margin-left: 10px;
        margin-top: 5px;
        padding-top: 5px;
    }
}

.how_ib {
    margin: 5px;
    border: solid rgba(249, 177, 56, 0.5) 3px;
    border-radius: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #f9b1381a;
    margin-top: 15px;
    margin-bottom: 15px;
}

// hao-card

.hao-card {

    background-color: var(--vp-badge-tip-bg); /* rgba(243, 247, 249, 0.5); */
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;

    h3, h2, h1 {
        margin-left: 10px;
        margin-top: 5px;
        padding-top: 5px;
    }
}

.card-title {
    background-color: var(--hao-c-bg-title);
}

// hao-card

:root {
    --hao-c-bg-title: var(--hao-c-blue-soft);
}

:root {
    --hao-c-blue-soft: rgba(76, 144, 175, 0.278);
    --hao-c-orange-soft: rgb(243 140 44 / 42%);
}

.heimu, .heimu a, a .heimu, .heimu a.new {
    background-color: #252525;
    color: #252525;
    text-shadow: none;
}
.heimu:hover, .heimu:active,
.heimu:hover .heimu, .heimu:active .heimu {
    color: white !important;
}
.heimu:hover a, a:hover .heimu,
.heimu:active a, a:active .heimu {
    color: lightblue !important;
}
.heimu:hover .new, .heimu .new:hover, .new:hover .heimu,
.heimu:active .new, .heimu .new:active, .new:active .heimu {
    color: #BA0000 !important;
}