// place your custom styles here

// 修改Blog样式
.vp-blog-hero-title, 
.vp-blog-hero-description {
    background: linear-gradient(to right, #4d4949, #46345b, #216469);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.how_qb {
    background: var(--info-bg-color); // rgba(243, 247, 249, 0.5);
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;

    iframe {
        width: 90%;
        margin: auto;
        padding: 10px;
    }

    h3, h2, h1 {
        margin-left: 10px;
        margin-top: 5px;
        padding-top: 5px;
    }
}

.how_ib {
    margin: 5px;
    border: solid rgba(249, 177, 56, 0.5) 3px;
    border-radius: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #f9b1381a;
    margin-top: 15px;
    margin-bottom: 15px;
}

// hao-card

.hao-card {

    background-color: var(--vp-badge-tip-bg); /* rgba(243, 247, 249, 0.5); */
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;

    h3, h2, h1 {
        margin-left: 10px;
        margin-top: 5px;
        padding-top: 5px;
    }
}

.card-title {
    background-color: var(--hao-c-bg-title);
}

// hao-card

:root {
    --hao-c-bg-title: var(--hao-c-blue-soft);
}

:root {
    --hao-c-blue-soft: rgba(76, 144, 175, 0.278);
    --hao-c-orange-soft: rgb(243 140 44 / 42%);
}

.heimu, .heimu a, a .heimu, .heimu a.new {
    background-color: #252525;
    color: #252525;
    text-shadow: none;
}
.heimu:hover, .heimu:active,
.heimu:hover .heimu, .heimu:active .heimu {
    color: white !important;
}
.heimu:hover a, a:hover .heimu,
.heimu:active a, a:active .heimu {
    color: lightblue !important;
}
.heimu:hover .new, .heimu .new:hover, .new:hover .heimu,
.heimu:active .new, .heimu .new:active, .new:active .heimu {
    color: #BA0000 !important;
}

// 文章分割线变成小汽车
hr {
    position: relative;
    margin: 0.8rem auto;
    box-sizing: content-box;
    overflow: visible;
    height: 1rem;
    border: none;
    cursor: pointer;
    background: transparent;

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      content: '';
      width: calc(100% - 0.25rem);
      height: 0;
      border-width: 0.125rem;
      border-style: dashed;
      opacity: 0.2;
    }

    &::after {
      position: absolute;
      line-height: 1.6rem;
      top: -0.4rem;
      left: 1%;
      content: '';
      z-index: 2;
      font-size: 1.6rem;
      transition: 1s;
      opacity: 0.2;

      /* 内联SVG */
      display: inline-block;
      width: 1.6rem;
      height: 1.6rem;
      background: center / contain no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 8.5H7L4 11H3c-1.11 0-2 .89-2 2v3h2.17c.43 1.2 1.56 2 2.83 2s2.4-.8 2.82-2h6.35c.43 1.2 1.56 2 2.83 2s2.4-.8 2.82-2H23v-1c0-1.11-1.03-1.47-2-2zM5.25 12l2.25-2h4l4 2zM6 13.5A1.5 1.5 0 0 1 7.5 15A1.5 1.5 0 0 1 6 16.5A1.5 1.5 0 0 1 4.5 15A1.5 1.5 0 0 1 6 13.5m12 0a1.5 1.5 0 0 1 1.5 1.5a1.5 1.5 0 0 1-1.5 1.5a1.5 1.5 0 0 1-1.5-1.5a1.5 1.5 0 0 1 1.5-1.5'/%3E%3C/svg%3E");
    }

    &:hover {
      &::after {
        opacity: 0.8;
        left: calc(99% - 1.6rem);
      }
    }
}