// you can change colors here
$theme-color: #3eaf7c; // #096dd9

@font-face {
    font-family: Comic-Sans-MS;
    src: url(https://unsw.cdn.t.bigtomcat.com/web/Comic-Sans-MS.ttf);
    unicode-range: U+30-39, U+41-5A, U+61-7A, U+C0-FF
}

@font-face {
    font-family: HannotateSC-W5;
    src: url(https://unsw.cdn.t.bigtomcat.com/web/HannotateSC-W5.woff);
}

$font-family-heading: 'Comic-Sans-MS, HannotateSC-W5';
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
